<%= form_for(@supporter) do |f| %>
  <% if @supporter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supporter.errors.count, "error") %> prohibited this supporter from being saved:</h2>

      <ul>
      <% @supporter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>Your Name</p>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <p>Country of Citizenship</p>
    <%= country_select("supporter", "country") %>
  </div>
  <div class="field">
    <p>Leave a Comment</p>
    <%= f.text_area :comment %>
    <div class="lg-form__input-footer">
    <p><strong>Optional</strong>&nbsp;Why do you think the Universal Declaration of Human Rights is important?</p>
    </div>
  </div>
<!--   <div class="field">
    <p>Email (optional)</p>
    <%= f.text_field :email %>
    <div class="lg-form__input-footer">
    <p>Why do you think the Universal Declaration of Human Rights is important?</p>
    </div>
  </div> -->
  <div class="field" style="display:none">
    <p>Signing Date</p>
    <%= f.date_select :signing_date %>
  </div>
  </br>
  <div class="lg-header__d">By signing, I accept this Universal Declaration of Human Rights as a common standard of achievement for all peoples and all nations, and commit to promoting universal respect for these rights and freedoms.</div>
  <div class="lg-text-align__center">
    <div class="actions">
      <%= f.submit "Sign This Document", :class => "lg-button__gold lg-button__filled", :style => "text-align:center;" %>
  </div>

  </div>
<% end %>
