<div class="lg-workspace__content">
  <% @supporters.each do |supporter| %>
      <div class="section lg-card__wrapper __static">
        <div class="lg-card__header">
          <div class="lg-has-avatar__tiny">
            <div class="lg-avatar__tiny"><img src="/flags/<%= supporter.country %>.png" height="120%" style="margin-top:-10px; height:160%; width:105%; "></div>
            <div class="lg-card__title-primary"><%= supporter.name %><% if supporter.signing_date.present? %>, <%= supporter.country %>
                <% end %></div>
            <div class="lg-card-flags__wrapper">
              <div class="lg-card-flag" style="margin-top:-10px;">
                <% if supporter.signing_date.present? %>
                 <%= supporter.signing_date %>
                <% else %>
                 UN Member State
                <% end %>
              </div>
              <div class="lg-card-flag" style="margin-top:-10px; color="white">
                <%= link_to 'Destroy', supporter, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
<!--               <div class="lg-card-flag" style="margin-top:-10px;">
                <%= link_to 'Show', supporter %>
              </div>
              <div class="lg-card-flag" style="margin-top:-10px;">
                <%= link_to 'Edit', edit_supporter_path(supporter) %>
              </div>
 -->
            </div>
            </div>
          </div>
        <div class="lg-card__content" style="margin-top: -20px; margin-left:44px;"><p class="lg-font-size__small"><%= supporter.comment %></div>
      </div>
        

    <% end %>
<br>  
<%= paginate @supporters %>
<br>
<!-- <%= link_to 'New Supporter', new_supporter_path %> -->
</div>
<div class="lg-workspace__nav lg-position__static">
    <h1 class="lg-workspace__nav-section-header">You can also</h1>
    <div class="lg-workspace__nav-item">
        <a class="lg-workspace__nav-link" href="/declaration/preamble"> Read the Text</a>
    </div>
    <div class="lg-workspace__nav-item">
        <a class="lg-workspace__nav-link" href="/home/history"> Read the History</a>
    </div>
        <div class="lg-workspace__nav-item">
        <a class="lg-workspace__nav-link" href="/declaration/sign"> Become a Signatory</a>
    </div>
</div>        

</div>        
</div>