<!DOCTYPE html>
<html>
<head>
  <title>Declarationofhumanrights</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=314456832085717&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/webfonts/symbolset-social/ss-social.css" rel="stylesheet">

  <%= analytics_init if Rails.env.production? %>

	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '807196019324393',
	      xfbml      : true,
	      version    : 'v2.2'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>

	<script>
	FB.ui({
	  method: 'share',
	  href: 'https://developers.facebook.com/docs/',
	}, function(response){});
	</script>

</head>
<body>

<%= render 'layouts/header' unless @disable_nav %>

<main class="lg-document__wrapper">

<%= yield %>
</main>



</body>
</html>
